// contained within this file are all your resets, variables, mixins, and any utility classes

$main-font: sans-serif

// DESKTOP FONT SIZES
$df1: 3rem //48px
$df2: 1.5rem //24px
$df3: 1.0625rem //17px
$df4: 0.75rem //12px

// MOBILE FONT SIZES
$mf1: 2rem //32px
$mf2: 1.3125rem //21px
$mf3: 1.0625rem //17px
$mf4: 0.75rem //12px

// COLORS
$main-bg-color: #ffffff
$main-font-color: #000000
$secondary-font-color: #878a8f
$link-font-color: #0066cc

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $main-font
  font-size: $mf3
  color: $main-font-color
