// anything reusable such as buttons, navbars, cards etc
// PHONE
h1, h2, h3, h4
  font-weight: bold

h1
  font-size: $t1

h2
  font-size: $t2

h3
  font-size: $t3

h4
  font-size: $t4

p
  font-size: $t3

a
  color: $link-color
  text-decoration: none
  &:hover
    text-decoration: underline

// DESKTOP
// @media screen and (min-width: 64em)
